@using Microsoft.AspNetCore.Components.Routing
@inject PrimePro.Services.AuthState AuthState
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon" aria-hidden="true">@((MarkupString)HomeSvg)</span> Home
            </NavLink>
        </div>

        @if (AuthState.IsAuthenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/usuarios">
                    <span class="nav-icon" aria-hidden="true">@((MarkupString)UsersSvg)</span> Usuarios
                </NavLink>
            </div>
        }

        <div class="mt-auto nav-item px-3">
            @if (AuthState.IsAuthenticated)
            {
                <div class="nav-link text-muted">@AuthState.Name</div>
                <NavLink class="nav-link" href="/logout">Cerrar sesión</NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="/login">Iniciar sesión</NavLink>
            }
        </div>
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        AuthState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AuthState.OnChange -= StateHasChanged;
    }

    // Inline SVGs for icons
    private const string HomeSvg = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-house-door-fill\" viewBox=\"001616\"><path d=\"M6.514.5v-3.5h3v3.5a.5.5000 .5.5h2a.5.5000 .5-.5V8.707a11000-.293-.707l-6-6a11000-1.4140l-66A1100008.707V14.5a.5.5000 .5.5h2a.5.5000 .5-.5z\"/></svg>";
    private const string UsersSvg = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-people-fill\" viewBox=\"001616\"><path d=\"M137c01-12-22s-2-1-2-21-22-22122zM67c01-12-22S2827s1-22-22122zM1614s-1-1-4-1-41-41v1h8v-1zM814s-1-1-4-1S014014v1h8v-1z\"/></svg>";
}
